<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-align: center">
  <a class="navbar-brand navbar-tittle"><h2>Bienvenido</h2></a>
</nav>
<div style="margin-top: 150px">
  <div style="text-align: center">
    <h2>Bienvenido</h2>
  </div>
  <div class = "container" style="text-align: center; margin-top: 50px">
    <button (click)="Listar()" class="btn btn-info">Listar</button>
    <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px">Nuevo</button>
  </div>
</div>
<router-outlet></router-outlet>
